/* src/index.css */
:root {
    --primary-color: #143751;
    --secondary-color: #BEE6E8;
    --warm-color: #4cbac0;
    --muted-color: #d1d5db;
    --dark-color: #173755;
}

@tailwind base;
@tailwind components;
@tailwind utilities;